* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-family:
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  zoom: 1.02; /* МЕГАЗАЛЕПА*/
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
}
.navigation {
  display: flex;
  gap: 40px;
}
.navigation a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.search,
.profile {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.signUp {
  width: 122px;
  height: 48px;
  background-color: #2b1b12;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.searchAndProfile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.aboutSite {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.aboutSite h1 {
  color: #2b1b12;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.aboutSite p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  color: #4f3527;
  line-height: 1.5;
  margin-bottom: 30px;
}

.HouseMenu {
  flex: 1;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
}
.searchLine {
  display: flex;
  justify-content: center;
  transform: translateY(-130px);
}
.backgroundSearchLine {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 900px;
  background-color: #ddc7bb;
  border-radius: 8px;
}

.location,
.type,
.priceRange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  background-color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: #695346;
  padding-right: 10px;
}
.aboutUs {
  display: flex;
  gap: 40px;
}
.aboutHousePicture {
  width: 500px;
  max-width: 500px;
  border-radius: 10px;
}
.aboutUsText {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutUsText p,
h1 {
  font-weight: 700;
  color: #4f3527;
}

.aboutUsResult {
  display: flex;
  justify-content: space-between;
}

.whyChooseUsSection {
  margin-bottom: 100px;
}

.whuChooseUsTextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-evenly;
}

.whyChooseUsCard {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  background-color: #ddc7bb;
  margin-top: 40px;
}

.emptySpace {
  display: flex;
  align-items: center;
  padding-left: 12px;
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.expertGuidance {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  gap: 10px;
}

.ourProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.productList {
  display: flex;
  gap: 50px;
}
.productCard {
  width: 340px;
  height: 480px;
  background-color: #ddc7bb;
  border-radius: 30px;
}
.productCard img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.descriptionCard button {
  height: 40px;
  width: 100px;
}
.descriptionCard img {
  width: 24px;
  height: 24px;
}
.descriptionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.firstStroke {
  display: flex;
  padding-left: 20px;
}

.secondStroke {
  display: flex;
  padding-left: 20px;
  gap: 15px;
}

.thirdStroke {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.thirdStroke p {
  font-size: 25px;
  font-weight: 700;
  color: #4f3527;
}

.textAndicon {
  display: flex;
}

.review-card {
  height: 330px;
  width: 300px;
  background-color: #ddc7bb;
  border-radius: 15px;
}

.cards {
  display: flex;
  gap: 50px;
}

.imgOnReview {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 15px 5px 0 0;
}

.reviewer-info {
  display: flex;
  padding-left: 10px;
  gap: 10px;
  padding: 10px 0px 10px 10px;
}

.reviewer-info {
  display: flex;
  justify-content: left;
}
.reviewer-details {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 40px;
}

.review-content {
  padding-left: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 100px;
}

.controlButtons {
  display: flex;
  gap: 30px;
}

.circle-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* делаем круг */
  border: 2px solid #2b1b12; /* рамка */
  background: #2b1b12;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 0; /* убираем лишние отступы */
}

.circle-btn:hover {
  background: #4b3121; /* заливка при наведении */
}

.circle-btn:hover .arrow {
  color: white; /* стрелка становится белой */
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 200;
  color: white;
}
.feedback {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.mainFeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lableSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.emailSection{
  display: flex;
  align-items: center;
  gap: 30px;
}
.emailAddressInput{
  width: 505px;
  height: 58px;
  border-radius: 10px;
  background-color: #DDC7BB;
  border: none;
}
